body{
    font-family: 'Playfair Display', serif;
}
.container-fluid{
    padding: 0;
}
p{
    color: #828282;
}
h2{
    font-weight: 700;
}
h5{
    font-weight: 700;
}
.card{
    border: none;
}
.important{
    color: #d79942;
}
#banner{
    height: 93vh;
    background-image: url('/img/banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner-content{
    position: relative;
    top: 200px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}
.banner-content .fa-crown{
    color: #fff;
    font-size: 3.8rem;
    transform: rotate(-30deg);
    position: relative;
    top: 15px;
    right: 245px;
}
.banner-content h1{
    font-size: 4rem;
}
.banner-content{
    position: relative;
    top: 200px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}
.banner-content .about-btn{
    padding: 15px 30px;
    border: 2px solid #fff;
    background: #fff;
    text-decoration: none;
    color: #d79942;
    border-radius: 7px;
    font-size: 1rem;
}
.banner-content .about-btn:hover{
    background: none;
    color: #fff;
    transition: 300ms;
}
.banner-content .map-btn{
    padding: 15px 30px;
    border: 2px solid #d79942;
    background: #d79942;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    font-size: 1rem;
}
.banner-content .map-btn:hover{
    background: none;
    color: #d79942;
    transition: 300ms;
}
#summary{
    padding: 100px 0;
}
#summary p{
    font-size: 18px;
}
#summary img{
    height: 400px;
    border-radius: 5px;
}
#services{
    padding: 100px 0;
    background-image: url('/img/services-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#services h2{
    color: #fff;
}
#services p{
    color: #fff;
    font-size: 18px;
}
.icon{
    height: 60px;
}
#prices{
    padding: 100px 0;
}
#prices .header-paragraph{
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #141010;
}
#accessories{
    padding: 100px 0;
    background-image: url('/img/accessories.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#accessories p{
    color: #fff;
    font-size: 1.5rem;
}
#map{
    padding-top: 90px;
    background: #f7f7f7;
}
#map hr{
    width: 50px;
    border-top: 1px solid #d79942;
    border-bottom: 1px solid #d79942;
}
#main-footer{
    padding: 40px 0;
    background: #1E1E1E;
}
#main-footer p{
    color: #fff;
}
#main-footer a{
    color: #fff;
}
#main-footer a:hover{
    color: #d79942;
}
@media only screen and (max-width: 600px) {
    .banner-content{
        top: 150px;
    }
    .banner-content h1{
        font-size: 3.2rem;
    }
    .card{
        width: 60%;
        position: relative;
        left: 20%;
    }
}